<header class="header">
  <div class="header__top">
    <ul class="header__info">
      <li>
        <img src="/svg/geo.svg" alt="Адрес">
        {{contacts.address}}
      </li>
      <li>
        <img src="/svg/clock.svg" alt="График работы">
        {{contacts.workTime}}
      </li>
      <li>
        <img src="/svg/phone.svg" alt="Телефоны контактной связи">
        <div>
          {{#each contacts.phoneNumbers}}
            <a href="tel:{{@this}}">{{@this}}</a>
          {{/each}}
        </div>
      </li>
      <li>
        <img src="/svg/mail.svg" alt="Почтовые ящики">
        <div>
          {{#each contacts.emails}}
            <a href="mailto:{{@this}}">{{@this}}</a>
          {{/each}}
        </div>
      </li>
    </ul>
    <button class="burger"><span></span></button>
  </div>

  {{> landing/navbar }}
</header>
<main>