<section class="ativity">
  <h2 class="title">
    Деятельность совета
  </h2>
  <div class="activity__container">
    <div class="activity__block">
      <h3 class="subtitle">
        Работа комиссий
      </h3>
      {{#if work.length}}
        {{#each work}}
          <ul class="activity__list">
            <li class="activity__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="./public/uploads/activity/work/{{dir}}/{{file}}" download>
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
    <div class="activity__block">
      <h3 class="subtitle">
        Публичные слушания
      </h3>
      {{#if hearing.length}}
        {{#each hearing}}
          <ul class="activity__list">
            <li class="activity__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="./public/uploads/activity/hearings/{{dir}}/{{file}}" download>
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
    <div class="activity__block">
      <h3 class="subtitle">
        Сессии
      </h3>
      {{#if session.length}}
        {{#each session}}
          <ul class="activity__list">
            <li class="activity__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="./public/uploads/activity/sessions/{{dir}}/{{file}}" download>
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
  </div>
</section>