<section class="documents">
  <div class="d-flex">
    <h2 class="title">
      Деятельность совета
    </h2>
  </div>
  <ul class="documents__container">
    <li class="documents__item">
      <a href="/activity/work?y={{work.year}}&m={{work.month}}">
        <img
          class="documents__folder-icon"
          src="/img/folder-2.svg"
          alt="Работа комиссий"
        />
        <h3 class="subtitle">
          Работа комиссий
        </h3>
      </a>
      <a class="button documents__button" href="/activity/work?y={{work.year}}&m={{work.month}}">
        <span>Открыть</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/activity/sessions?y={{sessions.year}}&m={{sessions.month}}">
        <img
          class="documents__folder-icon"
          src="/img/folder-2.svg"
          alt="Сессии"
        />
        <h3 class="subtitle">
          Сессии
        </h3>
      </a>
      <a class="button documents__button" href="/activity/sessions?y={{sessions.year}}&m={{sessions.month}}">
        <span>Открыть</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/activity/hearing?y={{hearing.year}}&m={{hearing.month}}">
        <img
          class="documents__folder-icon"
          src="/img/folder-2.svg"
          alt="Публичные слушания"
        />
        <h3 class="subtitle">
          Публичные слушания
        </h3>
      </a>
      <a class="button documents__button" href="/activity/hearing?y={{hearing.year}}&m={{hearing.month}}">
        <span>Открыть</span>
      </a>
    </li>
  </ul>
</section>