<section class="documents">
  <div class="d-flex">
    <h2 class="title">
      Деятельность совета
    </h2>
  </div>
  <ul class="documents__container">
    <li class="documents__item">
      <a href="/activity/work?y={{work.year}}&m={{work.month}}">
        <img src="/img/folder.svg" alt="Работа комиссий">
        <h3 class="subtitle">Работа комиссий</h3>
      </a>
      <a class="documents__download" href="/activity/download">
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/activity/hearing?y={{hearing.year}}&m={{hearing.month}}">
        <img src="/img/folder.svg" alt="Публичные слушания">
        <h3 class="subtitle">Публичные слушания</h3>
      </a>
      <a class="documents__download" href="/activity/download">
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/activity/sessions?y={{sessions.year}}&m={{sessions.month}}">
        <img src="/img/folder.svg" alt="Сессии">
        <h3 class="subtitle">Сессии</h3>
      </a>
      <a class="documents__download" href="/activity/download">
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
  </ul>
</section>