<section class="article">
    <div class="d-flex">
      <h2 class="title">{{title}}</h2>
    </div>
    <button class="back" onclick="window.history.back()">
      <img src="/svg/arrow-prev.svg" />
      <span>Назад</span>
    </button>

    <div class="article__wrapper">
      <article>
        <h3 class="article__title">{{article.title}}</h3>
        <p class="article__pubdate">
          <img src="/svg/calendar.svg" />
          <time pubdate>{{moment article.date format="DD.MM.YYYY"}}</time>
        </p>
        {{#if article.img}}
          <img class="article__image" src="{{article.img}}" alt="{{article.title}}" />
        {{/if}}
        <div class="article__text ql-editor">{{{article.text}}}</div>
        <footer class="article__footer">
          <span>Поделиться:</span>
          {{> share}}
        </footer>
      </article>
      <form class="subscribe" action="/news/subscribe" method="POST">
        <h4 class="subscribe__title">Подписывайтесь на наши новости!</h4>
        <p class="subscribe__desc">Получайте интересные новости и статьи, следите за нашими акциями и специальными предложениями.</p>
        <input class="subscribe__field" type="name" placeholder="Ваше имя*" required>
        <input class="subscribe__field" type="email" placeholder="Ваш e-mail*" required>
        <button class="button subscribe__button">Подписаться</button>
      </form>
    </div>
  </section>

  <section class="read">
    <h2 class="subtitle">Читайте также</h2>
    <div class="news__container">
      {{#if news.length}}
        {{#each news}}
          <a href="/news/{{_id}}">
            <figure class="preview">
              {{#if img}}
                <img class="preview__image" src="{{img}}" alt="{{title}}"/>
                {{else}}
                <img class="preview__image preview__image--no-image" src="/img/no-image.jpg" alt="{{title}}"/>
              {{/if}}
              <figcaption class="preview__caption">
                <h4 class="preview__title">{{title}}</h4>
                <div class="preview__text">{{trimString text 200}}</div>
                <div class="preview__footer">
                  <time pubdate>{{moment date format="DD.MM.YYYY"}}</time>
                  <p class="preview__views">
                    <img src="/svg/views-gray.svg" />
                    <span class="preview__count">{{views}}</span>
                  </p>
                </div>
              </figcaption>
            </figure>
          </a>
        {{/each}}
      {{/if}}

      {{#if activities.length}}
        {{#each activities}}
          <a href="/corpus/{{_id}}">
            <figure class="preview">
              {{#if img}}
                <img class="preview__image" src="{{img}}" alt="{{title}}"/>
                {{else}}
                <img class="preview__image preview__image--no-image" src="/img/no-image.jpg" alt="{{title}}"/>
              {{/if}}
              <figcaption class="preview__caption">
                <h4 class="preview__title">{{title}}</h4>
                <div class="preview__text">{{trimString text 200}}</div>
                <div class="preview__footer">
                  <time pubdate>{{moment date format="DD.MM.YYYY"}}</time>
                  <p class="preview__views">
                    <img src="/svg/views-gray.svg" />
                    <span class="preview__count">{{views}}</span>
                  </p>
                </div>
              </figcaption>
            </figure>
          </a>
        {{/each}}
      {{/if}}   
    </div>
  </section>