<section class="article">
    <div class="d-flex">
      <h2 class="title">Новости</h2>
      <input type="search" class="search" placeholder="Поиск по новостям" />
    </div>
    <a href="#" class="back">
      <img src="/svg/arrow-prev.svg" />
      <span>Назад</span>
    </a>

    <div class="article__wrapper">
      <article>
        <h3 class="article__title">{{article.title}}</h3>
        <p class="article__pubdate">
          <img src="/svg/calendar.svg" />
          <time pubdate>{{moment article.date format="DD.MM.YYYY"}}</time>
        </p>
        <img class="article__image" src="{{article.img}}" alt="{{article.title}}" />
        <p class="article__text">{{article.text}}</p>

        <footer class="article__footer">
          <span>Поделиться:</span>
          <ul class="article__socials">
            <li><a href="#"><img src="/svg/inst-gray.svg" alt="Инстаграм" /></li></a>
            <li><a href="#"><img src="/svg/vk-gray.svg" alt="ВКонтакте" /></a></li>
            <li><a href="#"><img src="/svg/fb-gray.svg" alt="Фейсбук" /></a></li>
            <li><a href="#"><img src="/svg/ok-gray.svg" alt="Одноклассники" /></a></li>
            <li><a href="#"><img src="/svg/whatsapp-gray.svg" alt="Вотсап" /></a></li>
            <li><a href="#"><img src="/svg/tg-gray.svg" alt="Телеграм" /></a></li>
          </ul>
        </footer>
      </article>
      <form class="subscribe" action="#">
        <h4 class="subscribe__title">Подписывайтесь на наши новости!</h4>
        <p class="subscribe__desc">Получайте интересные новости и статьи, следите за нашими акциями и специальными предложениями.</p>
        <input class="subscribe__field" type="name" placeholder="Ваше имя*" required>
        <input class="subscribe__field" type="email" placeholder="Ваш e-mail*" required>
        <button class="button subscribe__button">Отправить</button>
      </form>
    </div>
  </section>

  <section class="read">
    <h2 class="subtitle">Читайте также</h2>
    <div class="news__container">
      {{#if news.length}}
      {{#each news}}
        <a href="/news/{{_id}}">
          <figure class="preview">
            <img class="preview__image" src="{{img}}" alt="{{title}}"/>
            <figcaption class="preview__caption">
              <h4 class="preview__title">{{title}}</h4>
              <p class="preview__text">{{trimString text}}</p>
              <div class="preview__footer">
                <time pubdate>{{moment date format="DD.MM.YYYY"}}</time>
                <p class="preview__views">
                  <img src="/svg/views.svg" />
                  <span class="preview__count">327</span>
                </p>
              </div>
            </figcaption>
          </figure>
        </a>
      {{/each}}
    {{else}}
      <p>Новостей нет</p>
    {{/if}}
    </div>
  </section>