<section class="documents">
  <div class="d-flex">
    <h2 class="title">
      Документы
    </h2>
    <form class="form documents__form" action="/documents/search" method="POST">
      <input
        class="search"
        id="documents-search"
        type="search"
        placeholder="Поиск по документам"
        autocomplete="off"
      />
      <input type="hidden" class="form__id">
    </form>
  </div>
  <div class="documents__container">
    <div class="documents__block">
      <h3 class="subtitle">
        Решения сессии
      </h3>
      {{#if sessions.length}}
        {{#each sessions}}
          <ul class="documents__list">
            <li class="documents__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="/documents/file?cat=sessions&dir={{dir}}&file={{file}}" download="{{file}}">
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
    <div class="documents__block">
      <h3 class="subtitle">
        Отчёты о деятельности
      </h3>
      {{#if reports.length}}
        {{#each reports}}
          <ul class="documents__list">
            <li class="documents__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="./public/uploads/documents/reports/{{dir}}/{{file}}" download>
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
    <div class="documents__block">
      <h3 class="subtitle">
        Нормативная правовая база
      </h3>
      {{#if base.length}}
        {{#each base}}
          <ul class="documents__list">
            <li class="documents__item">
              {{dir}}
              <ul>
                {{#each documents}}
                  <li>
                    <a href="./public/uploads/documents/base/{{dir}}/{{file}}" download>
                      {{name}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          </ul>
        {{/each}}
      {{/if}}
    </div>
    <a href="/documents/download" class="documents__download" download>
      <span>
        Скачать все фалы архивом
      </span>
      <img src="../svg/download.svg" />
    </a>
  </div>
</section>