<section class="documents">
  <div class="d-flex">
    <h2 class="title">
      Документы
    </h2>
  </div>
  <ul class="documents__container">
    <li class="documents__item">
      <a href="/documents/sessions?y={{sessions.year}}&m={{sessions.month}}">
        <img class="documents__folder-icon" src="/img/folder.svg" alt="Решения сессии">
        <h3 class="subtitle">Решения сессии</h3>
      </a>
      <a class="documents__download" href="/documents/download/sessions" download='Решения сессии'>
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/documents/reports?y={{reports.year}}&m={{reports.month}}">
        <img class="documents__folder-icon" src="/img/folder.svg" alt="Отчёты о деятельности">
        <h3 class="subtitle">Отчёты о деятельности</h3>
      </a>
      <a class="documents__download" href="/documents/download/reports" download='Отчёты о деятельности'>
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
    <li class="documents__item">
      <a href="/documents/base?y={{base.year}}&m={{base.month}}">
        <img class="documents__folder-icon" src="/img/folder.svg" alt="Нормативная правовая база">
        <h3 class="subtitle">Нормативная правовая база</h3>
      </a>
      <a class="documents__download" href="/documents/download/base" download='Нормативная правовая база'>
        <img src="/img/download.svg" alt="Скачать архивом">
        <span>Скачать архивом</span>
      </a>
    </li>
  </ul>
</section>