<section class="promo">
  <div class="promo__wrapper">
      <ul class="promo__news promo__slider">
        {{#if news.length}}
          {{#each news}}
            <li>
              <a href="/news/{{_id}}">
                <h4>
                  {{title}}
                </h4>
                <div>
                  <time pubdate>
                    {{moment date format="DD.MM.YYYY"}}
                  </time>
                  <p class="promo__views">
                    <img src="/svg/views.svg" />
                    <span class="preview__count">
                      {{views}}
                    </span>
                  </p>
                </div>
              </a>
            </li>
          {{/each}}
        {{/if}}
      </ul>
      <div class="promo__content d-flex">
        <div>
          <h2 class="promo__title">
            Ваша возможность задать интересующий вопрос своему депутату
          </h2>
          <a href="#" class="button promo__button">
            Задать вопрос
          </a>
        </div>
        <div class="event promo__event">
          <header>
            <time class="event__time">
              {{year}}
            </time>
            <time class="event__date">
              {{date format="DD MMMM YYYY"}}
            </time>
          </header>
          <div class="event__wrapper">
            <p class="event__closest">
              Ближайшее мероприятие -
              <time>
                <span class="loader"></span>
              </time>
            </p>
            <h3 class="event__name">
              <span class="loader"></span>
            </h3>
          </div>
        </div>
      </div>
      <p class="promo__buttons slider__buttons">
          <button class="promo__prev slider__prev"></button>
          <button class="promo__next slider__next"></button>
        </p>
    </div>
</section>

<section class="about">
  <div class="about__slider">
    <div class="about__slide">
      <div>
        <h3 class="subtitle">
          Совет депутатов
        </h3>
        <p class="about__text">
          Совет депутатов закрытого административно-территориального образования город
            Железногорск (сокращенное наименование - Совет депутатов ЗАТО г.Железногорск)
            является представительным органом местного самоуправления ЗАТО Железногорск. Совет
            депутатов ЗАТО г.Железногорск состоит из 25 депутатов, избираемых на муниципальных
            выборах на основе всеобщего равного и прямого избирательного права при тайном
            голосовании. Совет депутатов избирается сроком на пять лет.
        </p>
      </div>
      <img src="/img/about.jpg" alt="Совет депутатов" /> 
    </div>
    <div class="about__slide">
      <img src="/img/about.jpg" alt="Деятельность совета" />
      <div>
        <h3 class="subtitle">
          Деятельность совета
        </h3>
        <p class="about__text">
          Информация о деятельности совета депутатов. Информация о деятельности совета
            депутатов. Информация о деятельности совета депутатов. Информация о деятельности
            совета депутатов. Информация о деятельности совета депутатов. Информация о
            деятельности совета депутатов. Информация о деятельности совета депутатов.
            Информация о деятельности совета депутатов. Информация о деятельности совета
            депутатов. Информация о деятельности совета депутатов.
        </p>
      </div>
    </div>
    <div class="about__slide">
      <div>
        <h3 class="subtitle">
          Lorem ipsum
        </h3>
        <p class="about__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, culpa ab totam
            quas ipsam, tenetur perspiciatis magnam commodi reiciendis autem itaque rerum nemo.
            Exercitationem explicabo magnam numquam cupiditate magni accusamus laudantium hic
            molestias, vero porro perspiciatis! Optio vitae rem quidem error quas, quasi
            veritatis a ipsa at minima ea. Ullam soluta eaque voluptate error quas voluptas,
            officia odio exercitationem atque cumque at fuga quod facere commodi laudantium
            aspernatur, qui natus impedit dolorem ducimus repellendus.
        </p>
      </div>
      <img src="/img/about.jpg" alt="Совет депутатов" />
    </div>
    <div class="about__slide">
      <img src="/img/about.jpg" alt="Деятельность совета" />
      <div>
        <h3 class="subtitle">
          Dolor sit amet
        </h3>
        <p class="about__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, culpa ab totam
            quas ipsam, tenetur perspiciatis magnam commodi reiciendis autem itaque rerum nemo.
            impedit dolorem ducimus repellendus. Dolorum totam inventore illo corporis
            laboriosam consequuntur consequatur voluptates expedita numquam iure, culpa
            explicabo quos alias error fugit, magni minima, vel maiores soluta enim ratione
            commodi?
        </p>
      </div>
    </div>
  </div>
  <div class="slider__nav about__slider-nav">
    <p class="slider__buttons">
      <button class="about__prev slider__prev"></button>
      <button class="about__next slider__next"></button>
    </p>
    <p class="slider__counter">
      <span class="slider__current">
        1
      </span>
      <span>
        из
      </span>
      <span class="slider__total">
        12
      </span>
    </p>
  </div>
</section>

<section class="calendar">
  <div id="eventsCalendar"></div>
</section>

<section class="deput">
  <h2 class="title">
    Депутаты Совета депутатов
  </h2>
  <div class="deput__slider">
    {{#if deputies.length}}
      {{#each deputies}}
        <figure class="deput__card" id="{{_id}}">
          <div class="deput__head">
            <img class="deput__photo" src="{{img}}" />
            <img
              src="{{fraction}}"
              alt="Единая Россия"
              class="deput__consignment"
            />
          </div>
          <figcaption class="deput__caption">
            <h4 class="deput__name">
              {{name}}
            </h4>
            <p class="deput__post">
              {{post}}
            </p>
            {{#if about}}
              <p class="deput__text">
                {{trimString about 150}}
              </p>
            {{else}}
              <p class="deput__text">
                {{about}}
              </p>
            {{/if}}
            {{#if schedule}}
              <p class="deput__schedule">
                <span class="red">
                  График приема:
                </span>
                {{schedule}}
              </p>
            {{/if}}
            {{#if appointment}}
            <p class="deput__registration">
              <span class="red">
                Запись:
              </span>
              {{appointment}}
            </p>
            {{/if}}
          </figcaption>
          <a href="/reception/{{_id}}" class="button deput__button">
            Задать вопрос
          </a>
        </figure>
      {{/each}}
    {{/if}}
  </div>

  <div class="slider__nav deput__slider-nav">
    <a href="/corpus" class="more">
      Все депутаты
    </a>
    <div class="slider__nav">
      <p class="slider__buttons">
        <button class="deput__prev slider__prev"></button>
        <button class="deput__next slider__next"></button>
      </p>
      <p class="slider__counter">
        <span class="slider__current">
          4
        </span>
        <span>
          из
        </span>
        <span class="slider__total">
          12
        </span>
      </p>
    </div>
  </div>
</section>
<section class="find">
  <div class="find__wrapper d-flex">
    <div>
      <h2 class="title">
        Найди своего депутата
      </h2>
      <p class="find__text">
        Введите адрес своего проживания и узнайте, какой депутат отвечает за ваш округ!
      </p>
    </div>
    <form class="form" action="/main/search" method="POST">
      <input
        class="form__field"
        id="deputie-search"
        type="search"
        placeholder="Введите адерс своего проживания*"
        autocomplete="off"
      />
      <input type="hidden" class="form__id">
      <button class="button form__button">
        Найти
      </button>
    </form>
  </div>
</section>
<section class="useful">
  <h2 class="title">
    Полезные ресурсы
  </h2>
  <div class="useful__container">
    <div class="useful__block useful__socials">
      <h4>
        Наши социальные сети:
      </h4>
      <ul>
        <li>
          <a href="https://vk.com/gorsovet_26">
            <img src="/svg/vk-useful.svg" alt="ВКонтакте" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/gorsovet_26?r=nametag">
            <img src="/svg/inst-useful.svg" alt="Инстаграм" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/gorsovet26/">
            <img src="/svg/fb-useful.svg" alt="Фейсбук" />
          </a>
        </li>
        <li>
          <a href="https://ok.ru/group/58007684644885">
            <img src="/svg/ok-useful.svg" alt="Одноклассники" />
          </a>
        </li>
      </ul>
    </div>
    <div class="useful__block">
      <div class="d-flex">
        <h4>
          Газета "Город и горожане"
        </h4>
        <img
          class="useful__image"
          src="/img/useful-1.png"
          alt="Город и горожане"
        />
      </div>
      <p>
        Газета "Город и горожане" выходит с 31 марта 1988 года. Газета зарегистрирована в
          Управлении Федеральной службы по надзору в сфере связи, информационных технологий и
          массовых коммуникаций по Красноярскому краю. Свидетельство о регистрации ПИ № ТУ 24
          -00408 от 30 мая 2011 года...
      </p>
      <a href="http://www.gig26.ru/" class="more">
        Подробнее
      </a>
    </div>
    <div class="useful__block">
      <div class="d-flex">
        <h4>
          Администрация ЗАТО
          <span>
            г. Железногорск
          </span>
        </h4>
        <img
          class="useful__image"
          src="/img/emblem.png"
          alt="Администрация ЗАТО г. Железногорск"
        />
      </div>
      <p>
        Администрация закрытого административно-территориального образования город
          Железногорск является исполнительно-распорядительным органом местного самоуправления и
          наделяется Уставом ЗАТО Железногорск полномочиями по решению вопросов местного
          значения и по осуществлению...
      </p>
      <a href="http://www.admk26.ru/" class="more">
        Подробнее
      </a>
    </div>
  </div>
</section>
<section class="questions">
  <div class="questions__container">
    <div class="questions__left">
      <h2 class="title questions__title">
        Страница закончилась,
        <span>
          а вопросы
        </span>
        остались?
      </h2>
      <p class="questions__desc">
        Опишите свой вопрос и мы обязательно ответим на него в ближайшее время!
      </p>
    </div>
    <form action="http://127.0.0.1:8089/question" method="POST" class="form questions__form">
      <input
        class="form__field form__field--white"
        type="text"
        placeholder="Ваш вопрос*"
        name="question"
        required
      />
      <input
        class="form__field form__field--white"
        type="name"
        placeholder="Ваше имя*"
        name="name"
        required
      />
      <input
        class="form__field form__field--white"
        type="tel"
        placeholder="Ваш телефон*" 
        name="phone"
        required
      />
      <button class="button button--white" type="submit">
        Отправить
      </button>
      <p>
        Нажимая на кнопку «Отправить», вы даете
        <b>
          согласие
        </b>
        на обработку своих
          персональных данных.
      </p>
    </form>
  </div>
</section>