<section class="news">
  <div class="d-flex">
    <h2 class="title">
      Новости
    </h2>
    <form class="form news__form" action="/news/search" method="POST">
      <input
        class="search"
        id="news-search"
        type="search"
        name="search"
        placeholder="Поиск по новостям"
        autocomplete="off"
      />
      <input type="hidden" class="form__id">
    </form>
  </div>
  <div class="news__container">
    {{#if news.length}}
      {{#each news}}
        <a href="/news/{{_id}}">
          <figure class="preview">
            {{#if img}}
              <img class="preview__image" src="{{img}}" alt="{{title}}" />
            {{else}}
              <img class="preview__image preview__image--no-image" src="/img/no-image.jpg" alt="{{title}}" />
            {{/if}}
            <figcaption class="preview__caption">
              <h4 class="preview__title">
                {{title}}
              </h4>
              <div class="preview__text">
                {{trimString text 150}}
              </div>
              <div class="preview__footer">
                <time pubdate>
                  {{moment date format="DD.MM.YYYY"}}
                </time>
                <p class="preview__views">
                  <img src="/svg/views-gray.svg" />
                  <span class="preview__count">
                    {{views}}
                  </span>
                </p>
              </div>
            </figcaption>
          </figure>
        </a>
      {{/each}}
    {{else}}
      <p>
        Новостей нет
      </p>
    {{/if}}
  </div>
  <footer class="news__footer">
    <div class="pagination">
      <ul class="pagination__list">
        {{#each pageNums}}
          {{#if_eq num current}}
            <li class="pagination__num pagination__num--current">
              <a href="/news?p={{num}}">
                {{num}}
              </a>
            </li>
          {{else}}
            <li class="pagination__num">
              <a href="/news?p={{num}}">
                {{num}}
              </a>
            </li>
          {{/if_eq}}
        {{/each}}
      </ul>
      {{#if isNext}}
        <a href="/news?p={{next}}" class="pagination__next">
          <span>
            Следующая страница
          </span>
          <img src="/svg/arrow-next.svg" alt="" />
        </a>
      {{/if}}
    </div>
  </footer>
</section>
<section class="report">
  <div class="d-flex">
    <h2 class="title">
      Медиаотчет
    </h2>
    <div class="slider__nav">
      <p class="slider__buttons">
        <button class="report__prev slider__prev"></button>
        <button class="report__next slider__next"></button>
      </p>
      <p class="slider__counter">
        <span class="slider__current">
          4
        </span>
        <span>
          из
        </span>
        <span class="slider__total">
          12
        </span>
      </p>
    </div>
  </div>
  <ul class="report__slider slider">
    {{#if report.length}}
      {{#each report}}
        {{#if img}}
          <li>
            <a href="{{img}}" class='open-report-popup'>
              <img src="{{img}}" />
            </a>
          </li>
        {{/if}}
        {{#if video}}
          <li>
            <a href="{{url}}" class='open-video-popup' rel="nofollow">
              <iframe src="{{video}}?rel=0" class="report__video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
          </li>
        {{/if}}
      {{/each}}
    {{/if}}
  </ul>

  {{!-- <div id="report-popup" class="mfp-hide"></div> --}}
</section>